<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <script type="importmap">
        {
          "imports": {
            "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
          }
        }
    </script>
    <script type="module">
        import { io } from "socket.io-client";
        const socket = io("wss://socketclientroominteraction.onrender.com", {
          "force new connection": true,
          reconnectionAttempts: "Infinity",
          timeout: 10000,
          transports: ['websocket']
        });

        
    </script>
</head>
<body>
    <h1>Hello World!</h1>
    <div class="nav">
        <a href="/users/register">Register</a>
        <a href="/users/login">Login</a>
    </div> <br>
</body>
</html>